<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">
</head>

<body>
<div>
    <table>
        <tr>
        <td>ID</td>
        <td>UserName</td>
        <td>Password</td>
        <td>Roles</td>
        </tr>
            <tr th:each="user : ${allUsers}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getPassword()}"></td>
                <td>
                    <p th:each="role: ${user.getRoles()}" th:text="${role.getName()}"> </p>
                </td>
                <td>
                    <form action="#" th:action="@{/admin}" method="post">
                        <input type="hidden" name="userId" th:text="${user.getId()}"/>
                        <input type="hidden" name="action" th:value="delete"/>
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
    </table>
    <a href="/">Главная</a>
</div>
</body>
</html>