<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
</head>

<body>
<div>
    <form action="#" th:action="@{/registration}" th:object="${userForm}" method="POST">
        <h2>Регистрация</h2>
        <div>
            <input type="text" th:field="*{username}" placeholder="Username"
                        autofocus="true"/>
            <errors path="username"></errors>
            <p th:text="${usernameError}"></p>
        </div>
        <div>
            <input type="password" th:field="*{password}" placeholder="Password"/>
        </div>
        <div>
            <input type="password" th:field="*{passwordConfirm}"
                        placeholder="Confirm your password"/>
            <errors path="password"></errors>
            <p th:text="${passwordError}"></p>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="/">Главная</a>
</div>
</body>
</html>